<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Stack Gallery</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{{ static('css/style.css') }}" media="screen,projection"/>

</head>
<body ng-app="StarterApp" ng-cloak>
  <!--
    Your HTML content here
  -->  

    {% include 'preloader.html' %}

    {% block body %}{% endblock %}  
  
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.5.5/angular-resource.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <!-- Add ngMdIcons module -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>  
  
  <!-- Your application bootstrap  -->
  <script type="text/javascript">    

    /**
     * You must include the dependency on 'ngMaterial' 
     */

    var app = angular.module('StarterApp', ['ngMaterial', 'ngMdIcons', 'ngResource']);

    app.config(['$interpolateProvider', function ($interpolateProvider) {
    $interpolateProvider.startSymbol('[[');
    $interpolateProvider.endSymbol(']]');
    }]);  

    app.controller('AppCtrl', ['$scope', '$mdBottomSheet','$mdSidenav', '$mdDialog', '$resource', function($scope, $mdBottomSheet, $mdSidenav, $mdDialog, $resource){
      $scope.toggleSidenav = function(menuId) {
        $mdSidenav(menuId).toggle();
      };

      var StackApi = $resource('stack');
      StackApi.query(function(projects){
        $scope.projects = projects;         
      });

      $scope.likeCount = 2

      $scope.convert_tkci = function (index) {
        return parseInt(index *100) + '%'
      }      

      $scope.like = function(item) {
        item.like_count += 1
        console.log('TODO: async call to update like action' + item.key)
      }

      $scope.showTeam = function(ev, stack_id) {

      // GET team for stack id
      url = 'team/' + stack_id
      var TeamApi = $resource(url);
      TeamApi.query(function(data){
        $mdDialog.show({
          controller: DialogController,
          templateUrl: 'dialog-team',
          targetEvent: ev,
          locals : {team : data},
          clickOutsideToClose: true,
          escapeToClose: true
        })
        .then(function(answer) {
          $scope.alert = 'You said the information was "' + answer + '".';
        }, function() {
          $scope.alert = 'You cancelled the dialog.';
        });
      });

        
      };

    }]);

    function DialogController($scope, $mdDialog, team) {

      console.log(team)

      $scope.team =  team

      $scope.hide = function() {
        $mdDialog.hide();
      };
      $scope.cancel = function() {
        $mdDialog.cancel();
      };
      $scope.answer = function(answer) {
        $mdDialog.hide(answer);
      };
    };

    app.config(function($mdThemingProvider) {
      var customBlueMap =     $mdThemingProvider.extendPalette('light-blue', {
        'contrastDefaultColor': 'light',
        'contrastDarkColors': ['50'],
        '50': 'ffffff'
      });
      $mdThemingProvider.definePalette('customBlue', customBlueMap);
      $mdThemingProvider.theme('default')
        .primaryPalette('customBlue', {
          'default': '500',
          'hue-1': '50'
        })
        .accentPalette('pink');
      $mdThemingProvider.theme('input', 'default')
            .primaryPalette('grey')
    });

  </script>
  
</body>
</html>