<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Stack Gallery</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{{ static('css/style.css') }}" media="screen,projection"/>

</head>
<body ng-app="StarterApp" ng-cloak>
  <!--
    Your HTML content here
  -->  

    {% block body %}{% endblock %}  
  
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.5.5/angular-resource.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  
  <!-- Add angular module -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>  
  
  <!-- Your application bootstrap  -->
  <script src="{{ static('js/app.js') }}" > </script>
  <script src="{{ static('js/stack.controller.js') }}" > </script>

</body>
</html>