<md-dialog aria-label="Mango (Fruit)"> 
<md-content class="md-padding"> 

<md-content class="md-padding autocomplete" layout="row" layout-wrap>

    <md-list>
      <md-subheader class="md-no-sticky">Contacts</md-subheader>

<!--
      <md-list-item class="md-2-line contact-item" ng-repeat="[[item in team]]">
        <img ng-src="[[item.image]]" class="md-avatar" alt="[[item.name]]" />
        <div class="md-list-item-text compact">
          <h3>[[item.name]]</h3>
          <p>[[item.email]]</p>
        </div>
      </md-list-item>
      -->

      <md-list-item class="md-2-line contact-item" >
        <img ng-src="http://citweb.cit.com.br/ipeople/photo?cdLogin=andremp" class="md-avatar" alt="Andre" />
        <div class="md-list-item-text compact">
          <h3>Andre Dede</h3>
          <p>andremp@ciandt.com</p>
        </div>
      </md-list-item>

      <md-list-item class="md-2-line contact-item" >
        <img ng-src="http://citweb.cit.com.br/ipeople/photo?cdLogin=andremp" class="md-avatar" alt="Andre" />
        <div class="md-list-item-text compact">
          <h3>Andre Dede</h3>
          <p>andremp@ciandt.com</p>
        </div>
      </md-list-item>    

      <md-list-item class="md-2-line contact-item" >
        <img ng-src="http://citweb.cit.com.br/ipeople/photo?cdLogin=andremp" class="md-avatar" alt="Andre" />
        <div class="md-list-item-text compact">
          <h3>Andre Dede</h3>
          <p>andremp@ciandt.com</p>
        </div>
      </md-list-item>

      <md-list-item class="md-2-line contact-item" >
        <img ng-src="http://citweb.cit.com.br/ipeople/photo?cdLogin=andremp" class="md-avatar" alt="Andre" />
        <div class="md-list-item-text compact">
          <h3>Andre Dede</h3>
          <p>andremp@ciandt.com</p>
        </div>
      </md-list-item>         

    </md-list>


</md-content> 
  <div class="md-actions" layout="row"> 
    <span flex>	</span> 
    <md-button ng-click="hide()"> Cancel </md-button>  
  </div>
</md-dialog>