{% extends 'base.html' %}

{% block body %}

  <body layout="row">

    <div layout="column" class="relative" layout-fill role="main" >

      <md-toolbar ng-show="!showSearch">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button"  aria-label="Menu" >
            <img class="logo" src="{{ url_for('static', filename='icon/logo_black.png') }}" >
          </md-button>          
          <h3>
            <a href="/">Stack</a>
          </h3>
          <span flex></span>
        </div>
      </md-toolbar>

      <div layout="column" >
        <div layout="row" layout-align="center center">
          <span class="md-display-1">Discover what other developers are using</span>
          <div flex layout-align="center"> 
            <div layout="column" layout-align="center center" >
              <h1 class="md-title">Please Log In</h1>
              <md-button class="md-primary md-raised md-hue-2" ng-href="/login">Google Account</md-button>      
            </div>
          </div>
        </div>
        <div layout="row" layout-xs="column">
          <div flex>
            Share your development stack.
          </div>
          <div flex>
            IMAGE.
          </div>
        </div>
        <div layout="row" layout-xs="column">
          <div flex>
            Improve your technical skills by learning with other teams.
          </div>
          <div flex>
            IMAGE.
          </div>
        </div>   
        <div layout="row" layout-align="center center" style="background: red; height: 50px">
            <span>To report a bug or an issue please email us. We are happy to get any feedback</span>           
        </div>     
      </div>

      <md-toolbar class="md-medium-tall" style="max-height: 200px">        
        <div layout="column" flex>          
          <div class="footer-links" layout="row" layout-align="space-around center">
            <div layout="column">
              <span>Another Tools</span>
              <a href="people.cit.com.br" target="blank">CI&T People</a>
              <a href="https://techgallery.ciandt.com">Tech Gallery</a>
              <a href="https://techanalytics.ciant.com">Tech Analytics</a>
            </div>

            <div layout="column">
              <span>Stack</span>
              <a href="/tst">Add Your Stack</a>
              <a href="/tst">Stacks</a>
            </div>

            <div layout="column">
              <span>Follow Us</span>
              <a href="/tst">Slack</a>
              <a href="/tst">github</a>
              <a href="/tst">link1</a>
            </div>            

          </div>
        </div>
      </md-toolbar>      

    </div>    
  </body>
{% endblock %}