{% extends 'base.html' %}

{% block body %}

<body layout="row" >
  <div layout="column" class="relative" layout-fill role="main" >
    <md-toolbar ng-show="!showSearch">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button"  aria-label="Menu" >
          <img class="logo" src="{{ url_for('static', filename='icon/logo_black.png') }}" >
        </md-button>          
        <h3>
          Stack
        </h3>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-content>
      <div flex layout-align="center"> 
      <div layout="column" layout-align="center center" >
        <h1 class="md-title">Please Log In</h1>
        <md-button class="md-primary md-raised md-hue-2" ng-href="/login">Google Account</md-button>      
      </div>
      </div>
    </md-content>
	</div>
</body>

{% endblock %}