
.stack-service-logo {
	display: inline-block;
}

.stack-service-logo img {
  width: 35px;
  height: 35px; 
}

.selected {
  color:#F12938!important
}

.logo {
  width: 24px; 
  height: 24px;
}

.badge1 {
   position:relative;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    outline:none;   
}
.badge1[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:-3px;
   right:-3px;
   font-size:.7em;
   background:#e0e0e0;
   color:gray;
   width:18px;
   height:18px;
   text-align:center;
   border: none;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}


#loading-bar .bar {
  background: black;
  z-index: 10;
}
#loading-bar-spinner .spinner-icon {
  border-top-color:  black;
  border-left-color: gray;
}
#loading-bar-spinner {
  top: 70px;
  left: 97%;
}



md-toast.error .md-toast-content {
  background-color: red;
}

.avatar {
  border-radius: 99%;
  width: 48px;
  height: 48px
}

#feedback {
  background: #E0E0E0; 
  height: 150px
}

#feedback span {
  font-size: 28px
}

#feedback a {
     font-size: 28px
     padding-top: 10px
}

#feedback a:hover {
     color: #1E88E5;
}

#footer {
  min-height: 150px; 
  background: #424242;
}

#footer span{
  font-size: 24px;
}

#footer a {
     color: #fff;
     font-size: 14px;
     padding-top: 10px
}

#footer a:hover {
     color: #1E88E5;
}