
.stack-service-logo {
	display: inline-block;
}

.stack-service-logo img {
  width: 35px;
  height: 35px; 
}

.selected {
  color:#F12938!important
}

.logo {
  width: 24px; 
  height: 24px;
}

.badge1 {
   position:relative;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    outline:none;   
}
.badge1[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:-3px;
   right:-3px;
   font-size:.7em;
   background:#e0e0e0;
   color:gray;
   width:18px;
   height:18px;
   text-align:center;
   border: none;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}


#loading-bar .bar {
  background: black;
  z-index: 10;
}
#loading-bar-spinner .spinner-icon {
  border-top-color:  black;
  border-left-color: gray;
}
#loading-bar-spinner {
  top: 70px;
  left: 97%;
}