
.stack-service-logo {
	display: inline-block;
}

.stack-service-logo img {
  width: 35px;
  height: 35px; 
}

.selected {
  color:#F12938!important
}

.tkci {
   position:relative;
   top:-468px;
   right:-13px;
   font-size:.7em;
   color:gray;
}

.badge1 {
   position:relative;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    outline:none;   
}
.badge1[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:-3px;
   right:-3px;
   font-size:.7em;
   background:#e0e0e0;
   color:gray;
   width:18px;
   height:18px;
   text-align:center;
   border: none;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}