<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button"  aria-label="Menu" >
      <img class="logo" src="icon/logo_black.png" >
    </md-button>          
    <h3>
      <a href="/#/stacks">Stack</a>
    </h3>
    <span flex></span>       
    <section ng-controller="AuthController" >
      <md-button class="md-raised md-hue-2" ng-if="isAuthenticated()" ng-click="logout()">Logout</md-button>
    </section>
  </div>
</md-toolbar>

<div layout="column" ng-controller="AuthController">
  <div layout="row" style="height: 200px" layout-align="center center">
    <div layout="row" hide-xs flex="70" layout-align="center center">
      <span class="md-display-3">Discover what other developers are using</span>
    </div>
    <div flex> 
      <div layout="column" layout-align="center center" ng-if="!isAuthenticated()">
        <h1 class="md-title">Please Log In</h1>
        <div layout="row">
          <img style="width: 36; height: 36; padding: 6px" src="icon/google-icon-128.png" alt="Google">
          <md-button class="md-primary md-raised md-hue-2" ng-click="authenticate('google')">Google Account</md-button>
        </div>
      </div>
    </div>
  </div>
  <div layout="row" layout-xs="column" layout-align="space-around start" class="md-title">
    <div layout="column" layout-align="center center" style="width: 300px">
      <div>
        Share your development stack using <a href="https://goo.gl/4VV4PU" target="blank">knowledge map</a>
      </div>
      <div flex>
        <img style="height: 200px" src="icon/knowledge_map_sample.png" alt="Card Sample">
      </div>
    </div>
    <div layout="column" layout-align="center center" style="width: 300px">
      <div flex>
        Improve your technical skills by learning about other <a href="/stacks">stacks.</a>
      </div>
      <div flex>
        <img style="height: 200px" src="icon/card_sample.png" alt="Card Sample">
      </div>
    </div>          
    <div layout="column" layout-align="center center" style="width: 300px">
      <div flex>
        Make better decision talking with other teams
      </div>
      <div flex>
        <img src="icon/team_sample.png" alt="Card Sample">
      </div>
    </div>          
  </div>
  
  <div layout="row" flex style="min-height: 50px"></div> 

  <div layout="row" layout-align="center center" style="background: gray; height: 150px">
      <span>To report a bug or an issue please <a href="https://github.com/marcuslacerda/stack-gallery/issues">click here</a>. We are happy to get any feedback</span>
  </div>
</div>