<section ng-keyup="keyPress($event)">
  <md-toolbar ng-show="!showSearch">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Menu" hide-gt-md ng-click="toggleLeft()">
        <ng-md-icon icon="menu"></ng-md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Logo" hide show-gt-md>
        <img class="logo" src="assets/icon/logo_black.png" >
      </md-button>          
      <h3 hide show-gt-md>
        <a href="/#/stacks">Stack</a>
      </h3>
      <span flex></span>
      <md-button aria-label="Search" ng-click="startSearch()">
        <ng-md-icon icon="search"></ng-md-icon>
      </md-button>          
      <section ng-controller="AuthController">
        <md-menu md-position-mode="target-left target" ng-if="isAuthenticated()" hide show-gt-md>
          <md-button aria-label="Open demo menu" class="md-icon-button" style="height: 60px!important; width: 60px!important" ng-click="$mdOpenMenu($event)">
            <img src="[[user.picture]]" class="avatar">
          </md-button>

          <md-menu-content width="4" >
          <!--
            <md-menu-item>
              <md-button ng-href="/#/profile">
                  <div layout="row" flex>
                    <p flex>Profile</p>
                    <md-icon md-menu-align-target md-svg-icon="call:portable-wifi-off" style="margin: auto 3px auto 0;"></md-icon>
                  </div>
              </md-button>
            </md-menu-item>  
            -->
            <md-menu-item>
              <md-button ng-click="logout()">
                  <div layout="row" flex>
                    <p flex>Logout</p>
                    <md-icon md-menu-align-target md-svg-icon="call:portable-wifi-off" style="margin: auto 3px auto 0;"></md-icon>
                  </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </section>
    </div>
  </md-toolbar>

  <md-toolbar class="md-hue-1" ng-show="showSearch">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Menu" hide-gt-md ng-click="toggleLeft()">
        <ng-md-icon icon="menu"></ng-md-icon>
      </md-button>
      <md-input-container md-theme="input" flex>
        <label>&nbsp;</label>
        <input id='search_input' ng-model="input" placeholder="enter search">
      </md-input-container>
      <md-button aria-label="Search" ng-click='search()'>
        <ng-md-icon icon="search"></ng-md-icon>
      </md-button>
      <md-button ng-click="finishSearch()" aria-label="Back">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar> 

  <section layout="row" >

    <md-sidenav
      class="md-sidenav-left"
      md-component-id="left"
      md-is-locked-open="$mdMedia('gt-md')"
      md-whiteframe="4">
      <md-toolbar class="md-theme-indigo" hide-gt-md>
        <h1 class="md-toolbar-tools">Filters Options</h1>
      </md-toolbar>
      <md-content layout-padding >
        <md-button class="md-raised md-hue-2" ng-click="logout()" hide-gt-md>Logout</md-button>
        <md-button ng-click="close()" class="md-primary" hide-gt-md>
          Close Filter Options
        </md-button>
        <p hide show-gt-md>
          Select to filter what you want.
        </p>
        <div layout="column">
          <span class=".md-subhead">Owners:</span>
          <md-divider style="padding-top:10px"></md-divider>
          <span ng-repeat="item in owners">
            <md-checkbox ng-model="checkbox" aria-label="[[item.name]]" class="md-primary" ng-change="toggle(item, ownersSelected)">
              [[item.name]] ([[item.count]])
            </md-checkbox>
          </span>
        </div>
      </md-content>

    </md-sidenav>


    <md-content flex-sm="grow" flex-md="grow" flex-gt-md="80" layout="row" layout-wrap>

      <div class="stack-card" ng-repeat="item in projects">
            <md-card style="width: 265px; height: 420px">
                <!-- stack title -->

                <div layout="row" style="padding-top: 5px" />
                    <div flex layout="column" />
                      <md-button target="_blank" ng-href="https://docs.google.com/spreadsheets/d/[[item.key]]" ga-track-event="['action', 'openStack']">[[item.name]]</md-button>
                      <div layout="row" layout-align="center end" >
                        <span style="font-size: 14px">[[item.owner]]</span>
                      </div>                        
                    </div>
                </div> 
                
                <md-divider></md-divider>

                <!-- stack images: list of technlogies--> 
                <md-card-content layout="row" layout-align="space-between">
                  <div style="height: 269px; overflow:hidden;">          
                    <span ng-repeat="tech in item.stack">
                      <a class="stack-service-logo" href="https://techgallery.ciandt.com/#/technologies/[[tech.technology]]" target="_blank" data-hing="[[tech.technology]">
                        <img alt="[[tech.technologyName]]" title="[[tech.technologyName]]" src="[[tech.imageUrl]]">
                      </a>
                    </span>  
                  </div>     
                </md-card-content>  
                <!-- stack actions-->
                </md-card-actions>
                  <md-card-actions layout="row" layout-align="end center">
                    
                    <md-button class="md-icon-button" aria-label="People" ng-click="showTeam($event, item.key)">
                      <md-icon>people</md-icon>
                    </md-button>

                    <!--
                    <md-button  style="overflow: inherit;" class="md-icon-button badge1" data-badge="[[item.like_count]]" aria-label="Favorite" ng-click="like(item)">
                      <md-icon ng-class="item.like_count > 0 ? 'selected' : 'normal'" aria-label="Favorite">favorite</md-icon>
                    </md-button>                    
                    -->
                    <div layout="column" layout-align="center center" ng-show="item.last_activity_user != null">
                      <span md-colors="{color:'Grey'}" class="md-caption" title="Last updated by [[item.last_activity_user]]">last activity</span>
                      <span md-colors="{color:'Grey'}" class="md-caption" title="Last updated by [[item.last_activity_user]]">[[item.last_activity | date:'dd-MMM HH:mm']]</span>
                    </div>
                  </md-card-actions>
              </md-card>
      </div>

    </md-content>
  </section>
</section>